/* font-family: 'Cormorant', serif; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.darkblue-background {
    background-color: rgb(0, 0, 51);
}

.lightblue-background {
    background-color: rgb(204, 255, 255);
}

.warmyellow-background {
    background-color: rgb(255, 204, 0);
}

.darkblue {
    color: rgb(0, 0, 51);
}

.lightblue {
    color: rgb(204, 255, 255);
}

.warmyellow {
    color: rgb(255, 204, 0);
}

h1, h3{
    font-family: 'Questrial', sans-serif;
}

body {
    background-image: url(/media/photo-1543791962-d56ec0590a25.jpeg);
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;

}
.page-border {
    border: 0.75rem solid;
    top: 4.5rem;
    left: 4.5rem;
    right: 4.5rem;
    bottom: 9rem;
    position: absolute;
    z-index: 1;
} 

header .logo {
    width:  36rem;
    height: 36rem;
    position: relative;
    margin: auto;
    z-index: 2;
}


.presentation-container {
    transform: skewY(-11deg);
    height: 22.5rem;
    position: relative;
    margin: 9rem 0 0 0;
    left: 0;
}

.presentation-text {
   position: absolute;
    text-align: center;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
    width: 60%;
    top: 50%;
    transform: translate( 0%, -50%);
top: 0; 
bottom: 0; 
margin-top: auto;
margin-bottom: auto;
    transform: skewY(11deg);
    background-color: aqua;
    opacity: 20%;
}

.line-one {
    margin: 18rem 0 0 0;
    width: 100%;
    height: 2.25rem;
}


.white-background-container {
 /*    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 9rem 0 9rem 0; */
    background-image: url(/media/french75-stjarntecken-drink-lejon-800x533.jpg);
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 9rem 0 9rem 0;
}


.product-container {
    width: 80%;
    margin: 0 auto 0rem auto;
    border: 0.5rem solid pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 22.5rem);
    grid-template-areas: 
    " . image-cocktail text-cocktail text-cocktail"
    "text-mocktail text-mocktail image-mocktail . ";
}

.image-cocktail {
    width: 18rem;
    background-image: url(/media/cocktail.jpeg);  
    grid-area: image-cocktail;
    justify-self: end;
}


.text-cocktail {
    border: 0.5rem solid lightgreen;
    grid-area: text-cocktail;
}


.text-mocktail {
    border: 0.5rem solid lightskyblue;
    grid-area: text-mocktail;
}

.image-mocktail{
    width: 18rem;
    background-image: url(/media/cocktail.jpeg);
    grid-area: image-mocktail;
    justify-self: start;
}

.line-book-table {
    margin: 13.5rem 0 0 0;
    width: 100%;
    height: 4.5rem;
    transform: skewY(11deg);
    text-align: center;
    position: relative;
    z-index: 2;
}

.line-two {
    margin: 0 0 0 0;
    width: 100%;
    height: 2.25rem;
}

.image-background-container {
    background-image: url(/media/photo-1510238890104-d15a38f787b6.jpeg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contact {
    width: 36rem;
    height: 36rem;
    margin: 0 auto 0 auto;
}

footer {
    margin: 13.5rem auto 0 auto;
    width: 80%;
    height: 9rem;
    z-index: 2;
    position: relative;
    bottom: 4.5rem;
    border: 0.1rem solid red;
    display: flex;
    justify-content: center;
}

footer .footer-logo{
    border: 0.1rem solid green;
    width: 9rem;
    width: 9rem;
    height: 100%;
}

footer .footer-contact{
    border: 0.1rem solid blueviolet;
    width: 49.5rem;
    height: 100%;
    margin: 0 0 0 4.5rem;
}